:root{
    --background-color : #25221e;
    --secondary-background-color: #35322e;
    --secondary: #35322e;
    --text-color : #f8f4ef;
    --loading-loader-color : #ec6d0a;
    --font : monospace;
    --right-resizer-color: #d06f25;
    --terminal-close-cross-color: 208,111,37;
    --svg-background: #35322e;
    --svg-line: #d06f25;
}