#shop-stall .block {
    position: relative;
    width: 150px;
    height: 25px;
    min-height: 25px;

    background-color: #d9534f;
}

#ide-playground .block {
    position: absolute;
    width: 150px;
    height: 25px;
    min-height: 25px;

    background-color: #d9534f;
}
