#shop-stall .block {
    position: relative;
}

.block {
    position: absolute;
    width: fit-content;
    height: fit-content;
    min-height: 15px;

    z-index: 1;

    cursor: pointer;

    border-radius: 5px;
    border: 1px solid;

    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 5px 8px 5px 8px;
}

.block p,
.block div.empty {
    pointer-events: none;
}

.block.dragging {
    z-index: 10;
}

.block.assignment {
    background-color: var(--c-block-assignment);
    border-color: var(--c-block-assignment-border);
}

.block.control-flow {
    background-color: var(--c-block-control-flow);
    border-color: var(--c-block-control-flow-border);
}

.block.operator {
    background-color: var(--c-block-operator);
    border-color: var(--c-block-operator-border);
}

.block.module {
    background-color: var(--c-block-module);
    border-color: var(--c-block-module-border);
}

.block > p {
    margin: 0px;
}

.block > div {
    width: fit-content;
    height: fit-content;
}

.block > div.empty {
    width: 24px;
    height: 16px;

    border-radius: 5px;

    background-color: var(--c-dark-30);
}

.block > div.empty.highlight {
    outline: solid var(--c-light);
}

.block > div > .inside {
    position: static !important;
}
