.resizer {
    --resize-length: 200px;
    --resize-thinkness: 4px;

    margin: calc(2 * var(--resize-thinkness));

    background-color: var(--c-primary-20);
    transition: 0.1s;

    z-index: 2;

    border-radius: var(--resize-thinkness);
    box-shadow: 0px 0px var(--shadow-length) var(--c-dark);
}

.resizer:hover {
    background-color: var(--c-primary);
    transition: 0.1s;
}


#ide-middle-resizer {
    width: var(--resize-thinkness);
    height: var(--resize-length);

    cursor: w-resize;
}

#ide-right-resizer {
    width: var(--resize-length);
    height: var(--resize-thinkness);

    cursor: n-resize;
}
