#settings {
    display: none;

    --width: 30%;
    --height: 40%;

    position: absolute;
    top: calc((100% - var(--height)) / 2);
    left: calc((100% - var(--width)) / 2);

    width: var(--width);
    height: var(--height);

    border-radius: 16px;
    border: 1px solid var(--c-primary);

    background-color: var(--c-secondary);

    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

#settings select {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--c-primary);
    background-color: var(--c-body);
    color: var(--c-text);
    padding: 2px;
}

#settings a {
    text-decoration: none;
    color: var(--c-primary);
}

#settings .hline {
    width: 100%;
    margin: 24px 0px 24px 0px;
    height: 1px;
    background-color: var(--c-primary-50);
}